# Discord Bot
DISCORD_TOKEN=your_token_here
CLIENT_ID=your_client_id_here
GUILD_ID=your_guild_id_here

# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority

# Bot Owner
BOT_OWNER_ID=1359147702088237076

# API (Optional)
API_PORT=3000
